/**
 * ATmosphere admin styles.
 */

.atmosphere-meta-box .description {
	margin-top: 8px;
}

.atmosphere-meta-box code {
	display: inline-block;
	margin-top: 2px;
}

.atmosphere-color-input {
	width: 8rem;
}

.wp-picker-container {
	vertical-align: middle;
}
